.event__list__item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid tomato;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event__list__item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: tomato;
}

.event__list__item h2 {
  margin: 0;
  font-size: 1rem;
  color: grey;
}

.event__list__item p {
  margin: 0;
}
